serviceAccountKey.json
.coverage
*.pyc
.python-version
.cache/
.tox/
*.egg-info/
build/
dist/
*~
cert.json
apikey.txt
htmlcov/
.pytest_cache/
.vscode/
.venv/
/poesiacolectiva-7f23e-firebase-adminsdk-l8mvy-98cdd07015.json
